<div class="bannercommon" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lewagon-alumni.slack.com/files/U0179SES5RN/F01A5HGP1KJ/untitled-removebg-preview.png);">
  <div class="d-flex justify-content-between  bannerbackground">
    <div><%= cl_image_tag "super-mamie.gif", height: 350, width: 450 %></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1><strong>Doctor</strong></h1>
    </div>
    <div><%= cl_image_tag "super-papy.gif", height: 350, width: 450 %></div>
  </div>
</div>
<div></div>
<section>
<div class="containerfaq">
  <div class="accordion">
    <div class="accordion-item" id="question1" data-turbolinks=false>
      <a href="#question1" class="accordion-link">
        <h4>How to order a doctor ?</h4>
        <i class="fas fa-plus"></i>
        <i class="fas fa-minus"></i>
      </a>
      <div class="answer">
        <p>Click on doctor on your home page, choose the doctor of your choice, a call is automatically made.</p>
      </div>
    </div>

    <div class="accordion-item" id="question2">
      <a href="#question2" class="accordion-link" data-turbolinks=false>
        <h4>Who is the doctor ?</h4>
        <i class="fas fa-plus"></i>
        <i class="fas fa-minus"></i>
      </a>
      <div class="answer">
        <p>At the installation we directly register your usuals doctors.</p>
      </div>
    </div>

    <div class="accordion-item" id="question3">
      <a href="#question3" class="accordion-link" data-turbolinks=false>
        <h4>If i need to see another doctor ?</h4>
        <i class="fas fa-plus"></i>
        <i class="fas fa-minus"></i>
      </a>
      <div class="answer">
        <p>Please contact 0567258998, one of our hostesses will order or register a new doctor for you.</p>
      </div>
    </div>

    <div class="accordion-item" id="question4">
      <a href="#question4" class="accordion-link" data-turbolinks=false>
        <h4>Technical problem ?</h4>
        <i class="fas fa-plus"></i>
        <i class="fas fa-minus"></i>
      </a>
      <div class="answer">
        <p>Please contact 0567258998, one of our hostess will answer all your questions.</p>
      </div>
    </div>

  </div>
</div>
</section>
<div class="faqbuttons d-flex">
<%= link_to "Back", root_path, class:"btn backbuttonfaq" %>
</div>
<div class="containerempty d-flex"></div>
