// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #f8b24f;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #e5e5e5;
$my-purple: #303960;
$my-pink: #ea9a96;
$my-green: #00bdaa;
