
.bannerfaq {
  background-size: cover;
  padding: 0 auto;
  margin-top: 76px;
  border-top: 3px solid rgb(65, 2, 130);
  border-bottom: 3px solid rgb(65, 2, 130);
}

.bannerfaq h1 {
  margin: 0;
  color: rgb(65, 2, 130);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.bannerfaq p {
  font-size: 20px;
  color: rgb(65, 2, 130);
  opacity: .7;
  text-align: center;
}

.bannerbackground {
  background-color: rgb(255, 255, 255);
}

a:hover{
  text-decoration: none;
}
.cardfaq {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cardfaq {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cardfaq {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cardfaq {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cardfaq {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cardfaq {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.faq {
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(65, 2, 130);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(65, 2, 130);
  text-align: center;
}


.card-category:hover{
  color:rgb(255, 255, 255);
  background-color:rgb(65, 2, 130);
  font-size: 40px;
  text-decoration: none;
}

.faq1 {
  background-color: rgb(255, 255, 255);
}

.faq2 {
  background-color: rgb(255, 255, 255);
}

.faq3 {
  background-color: rgb(255, 255, 255);
}

.faq4 {
  background-color:rgb(255, 255, 255);
}

.faq5 {
  background-color:rgb(255, 255, 255);
  margin-top: 30px;
}

.faq6 {
  background-color:rgb(255, 255, 255);
  margin-top: 30px;
}

.faq7 {
  background-color:rgb(255, 255, 255);
  margin-top: 30px;
}


.cardfaq p {
  font-size: 30px;
}

.cardfaq p:hover{
  font-size: 40px
}


