.card-contact {
  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.contact-card-avatar{
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.contact-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.contact-infos h3 {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-contact .contact-infos {
  padding: 16px;
}

.contact-card-icon {

}
