<div class="container">
  <div class="row mealsBooking">
    <div class="col-12">
      <h1>Booking Recap</h1>
    </div>
    <div class="col-12 btnBookingsMeals">
      <%= link_to "Edit", meals_path ,class: "btn" %>
      <button id="sweet-alert-demo" class="btn">Confirm</button>
    </div>
  </div>
</div>

