
.homepage h2 {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 10px;
}

.home {
  padding-bottom: 110px;
  padding-left: 180px;
  padding-right: 180px;
}


.home-cards {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 110px;
  border-style: solid;
  background: white;
  border: gray;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
  p {
    font-weight: bold;
    font-size: 20px;
    }
  .service-card-icon {
    width: 54px;
    height: 54px;
    }
  }

.home-cards:hover {
    text-decoration: none;
    opacity: 0.8;
}
