.navbar-senior {
  justify-content: space-between;
  background: white;
}

.navbar-senior .navbar-collapse {
  flex-grow: 0;
}

.navbar-senior .navbar-brand img {
  width: 50px;
}


.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
}
