.navbar-senior {
  justify-content: space-between;
  background: $my-pink;
  font-size: 28px;
}

.navbar-senior .navbar-collapse {
  flex-grow: 0;
}

.navbar-senior .navbar-brand img {
  //width: 60px;
  // height: 50px;
}

#navbar-home {
  position: absolute;
  width: 100%;
  box-shadow: none;
  background-color: $white;
  font-size: 28px;
}
.nav-item a {
  margin-left: 20px;
}

.avatar {
width: 55px;
height: 55px;
margin-left: 20px;
}
.navbar-light .navbar-nav .nav-link{
  color: $gray;
}
